/* --------SERVICE HERO SECTION------------ */

.about-hero-section {
  position: relative;
}

.about-hero-image {
  height: calc(100vh - 75px);
  width: 100%;
}
.about-hero-image img {
  height: calc(100vh - 75px);
  width: 100%;
  object-fit: cover;
}
.about-hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 29, 49, 0.651);
  height: calc(100vh - 75px);
  width: 100%;
}
.about-hero-container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.about-hero-text h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--secondary-color);
  font-weight: 200;
  max-width: 400px;
  margin: 0 0 40px 0;
}

.about-hero-text span {
  font-weight: bold;
}
.about-hero-slogan p {
  color: white;
}

/* -------ABOUT SECTION TWO------ */
.about-section-two {
  padding: 1vw 4vw;
  background-color: var(--content-bg);
}
.about-two-container {
  margin: 0 auto;
  padding: 20px;
}

.about-two-heading h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 20px 0;
}
.about-two-p {
  width: 80%;
  line-height: 1.5rem;
}

/* ---------ABOUT SECTION THREE------------ */
.about-section-three {
  padding: 1vw 4vw;
}
.about-three-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vw 0;
}
.about-left {
  position: relative;
}
.shape {
  height: 180px;
  width: 180px;
  background: linear-gradient(
    to top right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: -80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.shape-two {
  height: 180px;
  width: 180px;
  background: linear-gradient(
    to top right,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.image-container {
  height: 70vh;
  width: 120%;
  border-radius: 10px;
  overflow: hidden;
}
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-right {
  width: 50%;
}
.right-heading h2 {
  font-size: 2rem;
  font-weight: 100;
  color: var(--primary-color);
  margin: 25px 0;
}
.right-heading span {
  font-weight: bold;
}
.right-p p {
  width: 80%;
  line-height: 1.7rem;
}
